
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /

# *****************************************************************
#   THIS FILE CONDITIONS THE URL TO CORRECT FORMAT AND
#   maps all html file requets to /mamur/index.php unless
#   they are in a /wp or  /wordpress directory
#
#*****************************************************************

#The following line runs the MAMUR for .html and .htm (1st line)
#files with php extension are not mapped which makes  AJAX  easier (no template used)

RewriteCond %{REQUEST_URI} ^([^\.\?]*?)(\.html.*|\.htm.*|[^\.])$ [NC]
RewriteRule ^(.*)$ /mamur/index.php  [PT,L]
</IfModule>
